* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


html {
   background: white;
   padding: 50px;
   padding-top: 100px;
   
 } 

body {
   width: 100%;
   height: 100%;
   background: #efeae6;
}

.info-box {
   height: 250px;
   background-color: #e6d8d0;
   padding: 115px;
   border: 2px solid black;
}

main .gallery-grid {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(autofit, minmax(100px, 1fr) );
   grid-auto-rows: 100px;
   padding: 50px;
}

main .card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   background-size: cover; 
   background-repeat: no-repeat;
   background-position: center;
   overflow: hidden;
   
}

.card-tall {
   grid-row: span 3 / auto;
}

.card-wide {
   grid-column: span 2 / auto;
}




h1, h2, h3 {
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   padding-bottom: 20px;
} 

header h1 {
   font-size: 60px;
   background: linear-gradient(93deg, rgba(13,26,65,1) 0%, rgba(88,123,154,1) 36%, rgba(145,156,198,1) 74%, rgba(177,185,209,1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

} 

.footer {
   height: 250px;
   background-color: #e6d8d0;
   padding: 115px;
   margin: 20px;
}